@{
    ViewBag.Title = "GetQuestion";
}
@using Newbee.Models;
@{var model = Model as M_Question;}

<div class="ques-count center"><label class="CurrentIndex">@(ViewBag.QuesIndex)</label> / <label class="QuesCount">@(ViewBag.QuesCount)</label></div>
@if(model != null)
{ 

<div class="ques-content">@(model.Num). @(model.Content)</div>

if (model.Options.Count != 0)
{
<div class="ques-options">
    @foreach(var qo in model.Options)
    { 
    <div class="ques-option">
        <div class="option-content" data-bind="@(model.Num)_@(qo.Num)">@(qo.Num). @(qo.Content)</div>
    </div>
    }
    
</div>
}
}